<section class="container">
    <section class="row text-center mt-1">
        <div class="col-sm-12" id="header">
            <h1>Eat Da Burger</h1>
        </div>
    </section>
    <section class="col-sm-5" id="burger-input">
        <div class="row text-center">
            <div class="col-sm-12">
                <h2>Create Da Burger</h2>
                <form class="create-form" action="/api/burgers" method="POST">
                    <div class="form-group">
                        <label for="da-burger">Dream Da Burger</label><br>
                        <input type="text" id="da-burger" name="name">
                    </div>
                    <button type="submit">Cook Da Burger</button>
                </form>
            </div>
        </div>
    </section>
</section>